@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

label {
  font-weight: 800;
  margin-right: .5rem;
}

form {
  margin-bottom: .5rem;
}

main {
  align-items: center;
  align-content: center;
}

div.header {
  background-color: #353844;
  min-height: 100px;
  margin-bottom: 100px;
  vertical-align: top;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
}

div.inline {
  color: aliceblue;
  padding: 1rem;
}

div.account {
  background-color: #353844;
  color: aliceblue;
  padding: 1rem;
  /* display: inline-block; */
  margin-left: auto;
  margin-right: 0;
  width: 28rem;
}

div.transaction {
  -webkit-box-shadow: 3px 2px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 15px -3px rgba(0,0,0,0.75);

  padding: 1rem;
  margin: auto;
  width: 50%;
  min-width: 25rem;
  
}

.site {
  padding: 100px 20px;
  padding-top: 250px;
}

.card {
  -webkit-transition: box-shadow 500ms ease-in-out 500ms;
  -moz-transition: box-shadow 500ms ease-in-out 500ms;
  transition: box-shadow 500ms ease-in-out 500ms;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 0 75px 0px rgba(0, 0, 0, 0.2);
  color: #999;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0 auto 100px;
  max-width: 480px;
  width: 100%;
}
.card.card--open {
  box-shadow: 0 20px 75px 0px rgba(0, 0, 0, 0.2);
}
.card__header {
  -webkit-transition: max-height 500ms ease-in-out 500ms;
  -moz-transition: max-height 500ms ease-in-out 500ms;
  transition: max-height 500ms ease-in-out 500ms;
  background-position: center;
  max-height: 0;
  position: relative;
  z-index: 10;
}
.card--open .card__header {
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
  max-height: 260px;
}
.card__body {
  background-color: #fff;
  padding: 50px 40px;
  position: relative;
  z-index: 15;
}
.card__body p {
  line-height: 1.4;
  margin-bottom: 15px;
}
.card__body p:first-of-type {
  margin-top: 30px;
}
.card__body p:last-child {
  margin-bottom: 0;
}
.card__footer {
  background-color: #353844;
  background-image: -webkit-linear-gradient(left, #353844, #2e3f61);
  background-image: linear-gradient(to right,#353844, #2e3f61);
}
.card__preview {
  display: block;
  max-width: 100%;
}
.card__title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
}
.card__subtitle {
  color: #333;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 8px;
}

.stats {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
  color: #fff;
  height: 0;
  overflow: hidden;
  position: relative;
}
.stats::after {
  clear: both;
  content: "";
  display: table;
}
.card--open .stats {
  -webkit-transition: height 500ms ease-in-out 500ms;
  -moz-transition: height 500ms ease-in-out 500ms;
  transition: height 500ms ease-in-out 500ms;
  height: 160px;
}
@media (min-width: 480px) {
  .card--open .stats {
    height: 130px;
  }
}
.stats__item {
  margin: 15px 0;
  padding: 0 40px;
  text-align: center;
}
@media (min-width: 480px) {
  .stats__item {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 50%;
  }
}
@media (min-width: 480px) {
  .stats__actual {
    left: 0;
  }
}
@media (min-width: 480px) {
  .stats__goal {
    border-left: 2px solid #495165;
    right: 0;
  }
}
.stats__amount {
  font-size: 36px;
  font-weight: 700;
  margin-left: -1px;
  margin-top: 5px;
}
